body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#ffffff;
    display: block;
}

header a{
    color: black;
    text-decoration: none;
}

footer{
    text-align: center;
    padding: 50px 0;
}

.header-sect{
    align-items: center;
    justify-content:center;
    display: flex;
    padding: 15px 2.5% 15px 2.5%;
    /* height: 90px; */
    /* max-width: 1230px; */
    /* margin: auto; */
    flex-wrap: wrap;
    width: auto;
    gap: 10px;
    border-top: 3px solid #1d89ec;
}

.name-space{
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 200px; */
    display: flex;
    align-items: center;
}

.first-half{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.subject{
    margin: 0;
    font-size: 1.3rem;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

nav {
    background-color: #004A87;
    display: flex;
    /* height: calc(1rem + 40px); */
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 15px 10px 15px 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1.3rem;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.user-profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo-img > img {
    max-height: 40px;
    max-width: 173px;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    width: 15%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #0056b3;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.search-bar input {
    width: 60%;
}

.profiles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 5fr));
    gap: 20px;
}

.profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    /* margin-bottom: 15px; */
}

.profile-card h2 {
    font-size: 16px;
    margin: 10px 0;
}

.profile-card p {
    color: #777;
    margin-bottom: 15px;
}

.profile-card button {
    padding: 10px 35px;
    background-color: #1271c0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-card button:hover {
    background-color: #3492df;
}

.social-icons {
    margin-top: 15px;
}

.social-icons i {
    margin: 0 5px;
    font-size: 40px;
}

.social-icons i:hover::before {
    color: #79c3ff;
}

.between{
    display: block;
    width: 25px;
}